.video_gallery {
    display: flex;
    overflow: scroll;

    scroll-snap-type: x mandatory;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.boss_pedal {

    position: relative;

    font-size: 1.8vh;
    height: 45vh;
    width: auto;

    aspect-ratio: 32 / 50;

    flex-shrink: 0;
    scroll-snap-align: center;

    margin-left: 0;
}

.boss_enclosure {
    Transform: translate(-50%, 0);
    left: 50%;

    position: relative;

    height: 100%;
    aspect-ratio: 27.5 / 50;

    /* background-color: rgb(120, 230, 255);  */
    color: rgb(0, 0, 0);

    border-radius: .5em;
}

.boss_enclosure a {
    color: #000000;
    text-decoration: none;
}

.boss_enclosure a:hover {
    color: #000000;
}

.boss_press {
    Transform: translate(-50%, 0);
    left: 50%;

    position: absolute;
    top: 35%;
    height: 65%;
    aspect-ratio: 29/32.5;
    color: rgb(0, 0, 0);

    border-radius: .5em;
}

.boss_item {
    position: absolute;
    Transform: translate(-50%, 0);
    left: 50%;

    background-color: rgb(0, 0, 0);
    top: 40%;
    height: 55%;
    aspect-ratio: 52 / 36;

    border-radius: .5em;
}


.boss_item video {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

.boss_jack {
    position: absolute;
    top: 38%;

    background-color: rgb(157, 157, 157);
    height: 9%;
    aspect-ratio: 1/1;

    border-radius: 10%;
}

.boss_jack.left {
    left: 3%;
}

.boss_jack.right {
    right: 3%;
}

.boss_led {
    Transform: translate(-50%, -50%);
    left: 50%;

    top: 4%;
    position: absolute;
    background-color: #ff4747;

    border-radius: 50%;
    width: 4%;
    aspect-ratio: 1/1;
}

.boss_knobs {
    height: 35%;
    aspect-ratio: 27.5/17.5;
    position: relative;
}

.boss_knob.knob {
    height: 50%;
    aspect-ratio: 1/1;
    top: 10%;
    position: absolute;
}

.boss_knob.knob.left {
    left: 10%;
}

.boss_knob.knob.right {
    right: 10%;
}

.boss_knob.text {
    top: 70%;
    text-align: center;
    height: 50%;
    aspect-ratio: 1/1;
    position: absolute;

}

.boss_knob.text.left {
    left: 10%;
}

.boss_knob.text.right {
    right: 10%;
}

.boss_knob.text.right {}



.boss_knob.knob img {
    height: 100%;
    aspect-ratio: 1/1;
}

.boss_knob.knob img {
    transition: transform 800ms;
}

.boss_knob.knob img:hover {
    transform: rotate(300deg);
}

.boss_text {
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;

    display: flex;
}

.boss_input {
    font-weight: 600;
    position: absolute;
    top: 5%;
    height: 20%;
    width: 40%;
    right: 2%;
    text-align: right;
}

.boss_output {
    font-weight: 600;
    position: absolute;
    top: 5%;
    height: 20%;
    width: 40%;
    left: 2%;
    text-align: left;

}

@font-face {
    font-family: BossFont;
    src: url(../resources/fonts/BOSS/Boss.otf);
}


.boss_song {
    grid-area: boss_song;

    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 40%;

    text-align: left;
    font-family: BossFont;
    line-height: 100%;
    font-size: 150%;
}

.boss_song.big {
    font-size: 200%;
}

.boss_song.medium {
    font-size: 170%;
}

.boss_song.small {
    font-size: 150%;
}

.boss_artist {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 90%;
    height: 25%;

    text-align: right;
    font-family: BossFont;
}

.boss_enclosure.blue {
    background-color: rgb(113, 221, 245);
}

.boss_press.blue {
    background-color: rgb(120, 230, 255);
}

.boss_enclosure.green {
    background-color: rgb(108, 241, 63);
    ;
}

.boss_press.green {
    background-color: rgb(115, 255, 68);
    ;
}

.boss_enclosure.red {
    background-color: rgb(244, 57, 0);
}

.boss_press.red {
    background-color: rgb(255, 60, 0);
    color: white;
}

.boss_enclosure.red a {
    color: white;
}

.boss_enclosure.yellow {
    background-color: rgb(243, 243, 95);
}

.boss_press.yellow {
    background-color: rgb(255, 255, 100);
}

.boss_enclosure.black {
    background-color: rgb(27, 27, 27);
}

.boss_press.black {
    background-color: rgb(32, 32, 32);
    color: white;
}

.boss_enclosure.black a {
    color: white;
}