:root{
    --border_radius: 5px;
}

.gallery{
    display: flex;
    overflow: scroll;

    scroll-snap-type: x mandatory;
    padding-top: 2vh;
    padding-bottom: 2vh;

    gap: 2vw;

    height: auto;
}

.gallery_item{
    flex-shrink: 0;
    
    scroll-snap-align: center;

    text-align: center;
    background-color: rgb(244, 244, 244);
}


.gallery img {
    width: auto;
    object-fit: cover;
    background-color: rgb(235, 235, 235);
    border-radius: var(--border_radius);
}

@media (min-width: 1024px) {
    .gallery img {
        height: 50vh;
    }
}

@media (max-width: 1024px) {
    .gallery img {
        height: 45vh;
    }
}

@media (max-width: 768px) {
    .gallery img {
        height: 31vh;
    }
} 


@media (min-width: 1024px) {
    .gallery.small img {
        height: 35vh;
    }
}

@media (max-width: 1024px) {
    .gallery.small img {
        height: 35vh;
    }
}

@media (max-width: 768px) {
    .gallery.small img {
        height: 31vh;
    }
} 
